@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
  --blue-darkest: #03011e;
  --blue-darker: rgb(8, 2, 68);
  --blue-normal: #19197b;
  --blue-lighter: #6175f5;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
  /* border: 0.5px solid tomato; */
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
}

img,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
dl,
dt,
blockquote {
  overflow-wrap: break-word;
  hyphens: auto;
}

.hero__section {
  padding: 2.5rem 1.5rem;
  color: var(--white);
  overflow: hidden;
}

canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: var(--blue-darkest);
}

.hero__heading {
  margin-bottom: 1.5rem;
}

.hero__text-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.rockets__section {
  padding: 1.5rem;
}

.rocket {
  background-color: var(--blue-normal);
  padding: 1.5rem;
  margin: 2rem 0;
  border-radius: 4px;
  max-width: 40rem;
  margin: auto;
}

.rocket__image {
  margin: 1rem auto 1.5rem;
  border-radius: 4px;
  box-shadow: -2px 2px 4px 2px rgba(8, 2, 68, 0.6);
}

.rocket h2 {
  margin: 1rem 0;
}

.rocket__description {
  margin-bottom: 1rem;
}

.rocket__table {
  width: 100%;
}
